* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  margin: 50px 140px 0px 140px;
}
/* header styles here */
.bg-image {
  height: 600px;
  width: auto;
  position: relative;
}
.bg-image img {
  width: 100%;
}
.title-subtitle {
  position: absolute;
  top: 100%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subtitle {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.tittle {
  width: auto;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  line-height: 100px;
}
